/*
Der Sinn der styles.css, die farben, 
die Schriftgröße/Art und das Aussehen aller Elemente in der
 HTML-Datei zu gestalten.
 */

/*Der Hintergrund ist pink. */
body{
    background-color:cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

table{
    border: 1px solid;
    width: 100%;
}

tr{
    border: 1px solid;
}

td{
    border: 1px solid;
}

th{
    border: 1px solid;
    background-color: rgb(245, 226, 220);
}